
.typo-text {
  color: #201600;
  font-family: 'proxima_nova_rgregular';
  font-size: 18px;
  line-height: 28px;
}

.typo-text h1 {
  color: #201600;
  font-family: 'intro_regular';
  font-size: 35px;
  line-height: 42px;
  margin: 0 0 30px;
}

.typo-text h2 {
  font-family: 'intro_regular';
  font-size: 22px;
  color: #201600;
  display: block;
  margin: 0 0 20px;
}

.typo-text p {
  margin-bottom: 28px;
  color: #201600;
}

.typo-text a {
  color: #00b4ba;
}

.typo-text a:hover {
  color: #23527c;
}

.typo-text ul {
  margin-bottom: 28px;
  list-style: disc;
  padding-left: 30px;
}

.similar-articles {
  font-family: 'proxima_nova_rgregular';
  font-size: 18px;
  line-height: 28px;
}

.similar-articles__link {
  color: #00b4ba;
  text-decoration: underline;
}

.similar-articles__link:hover {
  text-decoration: none;
}

.btn {
  outline: none !important;
}

.btn:active {
  box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, .2);
}
